:root {
   /* FONTS */
   --header-font: "Poppins", "Arial", sans-serif;
   --secondary-font: "Open Sans", "Arial", sans-serif;

   /* COLORS */
   --primary-color: #151515;
   --secondary-color: #6A983C;
   --adittional-color-c3: #D0A866;
   --adittional-color-c4: #E5704B;
   --adittional-color-c5: #37D0D6;
}

/* GLOBAL CLASSES */
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   max-width: 100%;
   font-family: var(--header-font);
   font-size: 14px;
   line-height: 135%;
   color: var(--primary-color);
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
   max-width: 100%;
   height: auto;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.lock {
   overflow: hidden;
}



/* HEADER */

.top-header {
   position: relative;
   z-index: 50;
}

.top-header__body {
   position: relative;
   display: flex;
   flex-direction: column;
}

.top-header__burger {
   display: none;
}

/* TOP NAVBAR */

.navbar-top__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 16px;
   padding-bottom: 16px;
   border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.navbar-top__contact-text,
.tel-number,
.email {
   margin-right: calc(12px + 21 * (100vw / 1200));
   font-family: var(--secondary-font);
   font-size: 12px;
   line-height: 16px;
   text-decoration: none;
   color: var(--primary-color);
   white-space: nowrap;
   transition: color .3s ease;
}

.navbar-top__contact-text {
   color: var(--secondary-color);
   cursor: default;
}

.tel-number:hover,
.email:hover {
   color: var(--adittional-color-c5);
}

.navbar-top__list {
   display: flex;
   margin: 0;
   list-style: none;
}

.navbar-top__item:not(:last-child) {
   margin-right: calc(12px + 26 * (100vw / 1200));
}

.navbar-top__link {
   color: var(--secondary-color);
   font-family: var(--secondary-font);
   font-size: 12px;
   line-height: 16px;
   white-space: nowrap;
   text-decoration: none;
   transition: color .3s ease;
}

.navbar-top__link:hover {
   color: var(--adittional-color-c4);
}

/* TOP NAVBAR CONTENT */

.top-header__content {
   padding: 40px 0;
   z-index: 3;
}

.top-header__content-container {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.top-header__content-logo {
   flex-shrink: 0;
   position: relative;
}

.top-header__content-logo__icon {
   position: relative;
}

.top-header__content-logo>.top-header__widgets {
   display: none;
}

.top-header__item {
   display: flex;
   width: 100%;
}

.top-header__form {
   display: flex;
   align-items: center;
   margin-right: 10px;
   padding: 10px 16px;
   background: #F9F9F9;
   border: 1px solid #D1D1D1;
   box-sizing: border-box;
   border-radius: 12px;
}

.select-form {
   border: none;
   background-color: transparent;
   margin-right: 24px;
   font-weight: 700;
   font-size: 15px;
   line-height: 22px;
   width: 130px;
}

.vertical-line {
   height: 20px;
   width: 1px;
   background-color: #d1d1d1;
   margin-right: 24px;
}

.top-header__search {
   width: 262px;
   margin-right: 12px;
   font-family: var(--secondary-font);
   font-size: 14px;
   line-height: 19px;
   color: var(--primary-color);
   background-color: transparent;
   border: none;
}

.top-header__search-btn {
   width: 16px;
   height: 16px;
   background: url("/img/icons/search-icon.svg") no-repeat center center;
   border: none;
}

.top-header__widgets {
   display: flex;
   align-items: center;
}

.widget {
   width: 24px;
   height: 24px;
   border: none;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: transparent;
}

.widget:not(:last-child) {
   margin-right: 40px;
}

.search {
   display: none;
   background-image: url("/img/icons/search-icon.svg");
   background-size: contain;
}

.personal-cabinet {
   background-image: url("/img/icons/person-icon.svg");
}

.basket {
   position: relative;
   background-image: url("/img/icons/basket-icon.svg");
}

.basket::after {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   content: "4";
   width: 16px;
   height: 16px;
   left: -6px;
   bottom: -6px;
   font-size: 12px;
   font-weight: 600;
   color: #fff;
   background-color: var(--adittional-color-c4);
   border-radius: 50%;
}


/* MOBILE SEARCH FORM */

.mobile-search-form {
   display: none;
}


/* TOP NAVIGATION */

.top-menu {
   background-color: #F9F9F9;
   position: relative;
}

.top-menu__list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 0;
}

.top-menu__item:not(:last-child) {
   margin-right: calc(12px + 28 * (100vw / 1200));
}

.top-menu__item {
   position: relative;
}

.top-menu__link {
   position: relative;
   display: block;
   padding: 16px 0;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   color: var(--primary-color);
   text-decoration: none;
   transition: color .2s ease;
}

.top-menu__link:hover {
   color: var(--secondary-color);
}

.top-menu__link::after {
   position: absolute;
   width: 12px;
   height: 12px;
   top: 22px;
   right: -15px;
   background: url("/img/icons/arrow-bottom.svg") no-repeat center center;

   content: "";
}

/* DROPDOWN MENU */

.dropdown-menu {
   display: none;
   position: absolute;
   z-index: 5;
   padding: 8px 0;
   left: 50%;
   top: 100%;
   transform: translateX(-50%);
   border-radius: 5px;
   margin: 0;
   list-style: none;
   background-color: #fff;
   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.dropdown-menu__link {
   display: block;
   padding: 8px 16px;
   text-decoration: none;
   color: var(--primary-color);
   white-space: nowrap;
}

.dropdown-menu__link:hover {
   background-color: var(--adittional-color-c5);
   color: #fff;
}

.dropdown-menu__link:active {
   opacity: 0.8;
}

.top-menu__item:hover .dropdown-menu {
   display: block;
}



/* FOOTER */

.footer {
   padding: 64px 0;
}

/* FOOTER LINKS */

.footer-links__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.footer-links__wrapper {
   display: inline-block;
   position: relative;
   width: 25%;
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
}

.footer-links__title {
   margin-top: 0;
   margin-bottom: 16px;
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
}

.footer-links__list {
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   list-style-type: none;
}

.footer-links__link {
   display: block;
   margin-bottom: 16px;
   width: 100%;
   font-family: var(--secondary-font);
   font-size: 14px;
   line-height: 19px;
   color: var(--secondary-color);
   text-decoration: none;
   transition: color .3s ease;
}

.footer-links__link:hover {
   color: var(--adittional-color-c4);
}

/* FOOTER TAGS */

.footer-tags {
   margin-top: 28px;
   margin-bottom: 48px;
}

.tag-list {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
   list-style: none;
}

.tag-item {
   margin-right: 16px;
   margin-bottom: 16px;
}

.tag-link {
   display: block;
   padding: 4px 10px;
   color: var(--primary-color);
   text-decoration: none;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   border-radius: 12px;
   background-color: #f5f5f5;
   transition: background-color .3s ease;
}

.tag-link:hover {
   background-color: var(--adittional-color-c5);
   color: #fff;
}

/* COPYRIGHT */

.copyright {
   font-family: var(--secondary-font);
   font-size: 14px;
   line-height: 19px;
}



/* MAIN */

.section-wrapper {
   padding-top: 64px;
   padding-bottom: 64px;
}

.section-menu {
   display: flex;
   flex-direction: column;
   width: 25%;
   margin-right: 32px;
}

.section-menu__title {
   margin-top: 0;
   margin-bottom: 0;
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
}

.section-menu__list {
   margin-top: 0;
   margin-bottom: 48px;
   padding-left: 0;
   list-style: none;
}

.section-menu__link {
   display: block;
   width: 100%;
   margin-bottom: 12px;
   font-family: var(--secondary-font);
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
   color: var(--secondary-color);
   transition: color .3s ease;
}

.section-menu__link:hover {
   text-decoration: none;
   color: var(--adittional-color-c4);
}

.section-menu__button-link {
   position: relative;
   display: inline-block;
   padding-top: 12px;
   padding-right: 38px;
   padding-bottom: 12px;
   padding-left: 16px;
   font-weight: bold;
   font-size: 15px;
   line-height: 22px;
   color: var(--primary-color);
   background-color: #f5f5f5;
   border-radius: 12px;
   text-decoration: none;
   white-space: nowrap;
   transition: background-color .3s ease;
}

.section-menu__button-link::after,
.heading-recepies__card-button__link::after {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   top: 16px;
   right: 16px;
   background: url("/img/icons/arrow-black-right.svg") no-repeat center center;
}

.section-menu__button-link:hover {
   background-color: var(--adittional-color-c5);
   color: #fff;
}

.section-menu__button-link:active {
   opacity: 0.8;
}



/* CATEGORY MENU CARD */

.category-menu__container {
   display: flex;
}

.heading-recepies {
   display: flex;
   order: 2;
   width: 100%;
}

.heading-recepies__card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 50%;
   min-height: 200px;
   padding: 48px 32px 32px;
   border-radius: 12px;
   background: url("/img/photos/card-bg.png") no-repeat center center;
   background-size: cover;
   background-color: rgba(106, 152, 60, 0.1);
}

.heading-recepies__card-subtitle {
   margin-top: 0;
   margin-bottom: 8px;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   color: var(--secondary-color);
}

.heading-recepies__card-title {
   margin-top: 0;
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
}

.heading-recepies__card:not(:last-child) {
   margin-right: 32px;
}

.heading-recepies__card-button__link {
   position: relative;
   display: inline-block;
   padding: 12px 38px 12px 16px;
   border-radius: 12px;
   border: 2px solid var(--secondary-color);
   font-weight: bold;
   font-size: 15px;
   line-height: 22px;
   color: var(--primary-color);
   text-decoration: none;
   white-space: nowrap;
   transition: background-color .3s ease;
}

.heading-recepies__card-button__link:hover {
   background-color: var(--secondary-color);
   color: #fff;
}



/* Best selling products */

.best-products__container {
   display: flex;
}

.grid-cards {
   display: flex;
   order: 2;
   width: 100%;
   padding-left: 0;
}

.grid-card {
   display: flex;
   flex-direction: column;
   padding: 16px;
   min-height: 330px;
   border: 1px solid #D1D1D1;
   border-radius: 12px;
}

.grid-card:not(:last-child) {
   margin-right: 32px;
}

.grid-card__header {
   margin-bottom: 16px;
}

.grid-card__image {
   width: 100%;
   border-radius: 12px;
}

.grid-card__info {
   flex-grow: 1;
   margin-bottom: 16px;
}

.grid-card__title {
   margin-top: 0;
   margin-bottom: 4px;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
}

.grid-card__desc {
   margin-top: 0;
   margin-bottom: 0;
   font-family: var(--secondary-font);
   font-size: 12px;
   line-height: 16px;
   color: #575757;
}

.grid-card__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.grid-card__price {
   display: flex;
   flex-direction: column;
}

.grid-card__price-number {
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
}

.grid-card__discount {
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   text-decoration-line: line-through;
   color: #A9A9A9;
}

.grid-card__button {
   padding: 6px 12px;
   font-weight: bold;
   font-size: 15px;
   line-height: 22px;
   color: #fff;
   background: #6A983C;
   border: 2px solid #46760A;
   box-sizing: border-box;
   border-radius: 12px;
   transition: background-color .3s ease;
}

.grid-card__button:hover {
   background-color: transparent;
   color: var(--secondary-color);
}




/* COMMENTS */

.testimonial {
   overflow-x: auto;
   border: 1px solid #F9F9F9;
}

.testimonial__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 16px;
}

.section__button {
   position: relative;
   padding-right: 24px;
   text-decoration: none;
   color: var(--primary-color);
   font-weight: 700;
   font-size: 15px;
   line-height: 22px;
   transition: color .3s ease;
}

.section__button:hover {
   color: var(--secondary-color);
}

.section__button::after {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   top: 4px;
   right: 0px;
   background: url("/img/icons/arrow-black-right.svg") no-repeat center center;
}

/* TESTIMONIAL CARD */

.testimonial-card__list {

   padding-left: 0;
   list-style: none;
   min-height: 235px;
}

.testimonial-card__item {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 370px;
   margin-right: 32px;
   margin-bottom: 40px;
   padding: 24px 32px 40px;
   border: 1px solid #F1F1F1;
   border-radius: 12px;
}

.testimonial-card__text {
   margin-top: 0;
   margin-bottom: 24px;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   text-align: center;
}

.testimonial-card__author {
   display: block;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   color: #A9A9A9;
}

.testimonial-card__author-photo {
   position: absolute;
   bottom: -25px;
   border-radius: 50%;
   width: 48px;
   height: 48px;
}



/* PRODUCTS SECTION */

.section__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 32px;
}

.products__grid-cards__wrapper {
   display: flex;
}

.products__grid-cards:not(:last-child) {
   margin-right: 32px;
   margin-right: 32px;
}




/* BLOG POSTS */


.blog-posts__wrapper {
   display: flex;
}

.blog-posts__cover {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 470px;
   height: 400px;
   padding: 24px;
   margin-right: 32px;
   background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%);
   border-radius: 12px;
}

.blog-posts__cover__photo {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

.tips {
   display: block;
   width: fit-content;
   padding: 0 8px;
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
   color: #6A983C;
   background-color: #F4F8EC;
   border-radius: 12px;
}

.blog-posts__cover__title {
   margin: 0;
   margin-bottom: 8px;
   color: #fff;
   white-space: pre-line;
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
}

.blog-posts__cover__footer {
   display: flex;
   align-items: center;
   color: #fff;
}

.blog-posts__cover__author-photo {
   width: 32px;
   height: 32px;
   margin-right: 8px;
}

.blog-posts__author-name,
.blog-posts__time {
   font-family: var(--secondary-font);
   font-size: 12px;
   line-height: 16px;
}

.blog-posts__author-name {
   margin-right: 16px;
}




























/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .top-header__search {
      width: calc(150px + 80 * (100vw / 1200));
   }

   .products__grid-cards__wrapper {
      flex-direction: column;
   }

   .products__grid-cards {
      justify-content: center;
   }

   /* GRID CARD */

   .grid-card__footer {
      flex-direction: column;
      align-items: flex-start;
   }

   .grid-card__price {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 8px;
   }

   .grid-card__button {
      width: 100%;
   }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

   /* TOP HEADER CONTENT */

   .top-header__content-container {
      flex-direction: column;
   }

   .top-header__content {
      padding: 20px 0;
   }

   .top-header__content-logo {
      margin-bottom: 10px;
   }

   .top-header__widgets {
      display: none;
   }

   .top-header__form {
      width: calc(150px + 357 * (100vw / 767));
   }

   .select-form,
   .vertical-line {
      margin-right: 10px;
   }

   /* FOOTER */


   /* FOOTER LINKS */

   .footer-links__wrapper {
      width: 50%;
   }



   /* CATEGORY MENU */

   .section-menu {
      width: 40%;
   }

   .section-menu__list {
      margin-bottom: calc(0px + 48 * (100vw / 1200));
   }

   /*HEADING RECEPIES CARD*/

   .heading-recepies {
      flex-direction: column;
   }

   .heading-recepies__card {
      width: 100%;
   }

   .heading-recepies__card:not(:last-child) {
      margin-bottom: 32px;
   }

   .category-menu__container {
      justify-content: center;
   }



   /* BEST PRODUCTS */

   .best-products__container {
      flex-direction: column;
   }

   .best-products__section-menu {
      align-items: center;
      width: 100%;
      text-align: center;
   }

   .grid-cards {
      order: 0;
      margin-bottom: 16px;
      padding-left: 0;
   }

   .grid-card__footer {
      flex-direction: column;
      align-items: flex-start;
   }

   .grid-card__price {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 8px;
   }

   .grid-card__button {
      width: 100%;
   }



   /* PRODUCTS SECTION */

   .products__grid-cards__wrapper {
      flex-direction: column;
   }

   .products__grid-cards {
      justify-content: center;
   }

}



@media (max-width: 650px) {


   .best-products__container {
      flex-direction: row;
   }

   .grid-cards {
      flex-direction: column;
      order: 1;
   }

   .grid-card {
      width: auto;
   }

   .grid-card:not(:last-child) {
      margin-right: 0;
      margin-bottom: 16px;
   }

   .best-products__section-menu {
      align-items: flex-start;
      width: auto;
      text-align: left;
   }




}




/* Portrait phones and smaller */
@media (max-width: 480px) {

   /* BURGER MENU */

   .top-header__burger {
      position: absolute;
      display: block;
      width: 25px;
      height: 14px;
      top: 6px;
      right: 15px;
      z-index: 4;
   }

   .top-header__burger-line {
      position: absolute;
      background-color: var(--primary-color);
      width: 100%;
      height: 2px;
      right: 0;
      top: 6px;
      transition: all .3s ease;
   }

   .top-header__burger::before,
   .top-header__burger::after {
      content: "";
      position: absolute;
      background-color: var(--primary-color);
      width: 100%;
      height: 2px;
      right: 0;
      transition: all .3s ease;
   }

   .top-header__burger::before {
      top: 0;
   }

   .top-header__burger::after {
      bottom: 0;
   }

   .top-header__burger.active .top-header__burger-line {
      transform: scale(0);
   }

   .top-header__burger.active::before {
      transform: rotate(45deg);
      top: 6px;
   }

   .top-header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 6px;
   }


   /* TOP NAVBAR */

   .navbar-top__list {
      display: none;
   }

   .email {
      margin-right: 0;
   }

   .navbar-top__contact-text,
   .tel-number {
      margin-right: 8px;
   }

   /* TOP HEADER CONTENT */

   .top-header__content-logo {
      display: flex;
      justify-content: space-between;
      width: 100%;
   }

   .top-header__content-logo>.top-header__widgets {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .search {
      display: block;
   }

   .widget:not(:last-child) {
      margin-right: 10px;
   }

   /* TOP HEADER FORM */

   .top-header__form {
      width: 100%;
      margin-right: 0;
   }

   .vertical-line,
   .top-header__search,
   .top-header__search-btn {
      display: none;
   }

   .select-form {
      width: 100%;
   }


   /* HEADER MENU */

   .top-menu {
      display: none;
   }

   .top-menu__item {
      width: 100%;
   }

   .top-menu__item:not(:last-child) {
      margin: 0;
   }

   .top-menu__list {
      padding: 0 15px;
   }

   /* DROPDOWN MENU */

   .dropdown-menu {
      display: none;
      position: relative;
      z-index: 50s;
      padding: 8px 0;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border-radius: 5px;
      margin: 0;
      list-style: none;
      background-color: transparent;
      box-shadow: 0px 0px 0px rgba(83, 19, 19, 0);
      overflow: auto;
   }

   .dropdown-menu__link {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: var(--primary-color);
      white-space: nowrap;
   }

   .dropdown-menu__link:active {
      opacity: 0.8;
   }

   .open {
      display: block;
   }


   /* HEADING RECEPIES */

   .section-wrapper {
      padding-top: 32px;
      padding-bottom: 32px;
   }

   .section-menu {
      width: 100%;
      text-align: center;
      margin-right: 0;
   }

   .category-menu__container,
   .best-products__container {
      flex-direction: column;
   }

   .section-menu__list {
      margin-bottom: 16px;
   }

   .section-menu__link {
      font-size: 14px;
   }

   .heading-recepies,
   .grid-cards {
      order: 0;
   }

   .heading-recepies__card:not(:last-child) {
      margin-bottom: 16px;
   }

   .heading-recepies__card {
      margin-bottom: 16px;
      padding: 24px 16px 16px;
   }

   .heading-recepies__card-button__link {
      padding: 6px 19px 6px 8px;
      font-size: 12px;
   }

   .heading-recepies__card-button__link::after {
      width: 8px;
      height: 8px;
      top: 14px;
      right: 8px;
   }

   .best-products__section-menu {
      align-items: center;
      width: auto;
   }

}

@media (max-width: 350px) {
   .widget:not(:last-child) {
      margin-right: 5px;
   }

   .section-menu__title {
      font-size: 14px;
   }

   .testimonial-card__text {
      font-size: 12px;
   }


}

/* Iphone 5 */
@media (max-width: 320px) {}