:root {
   /* FONTS */
   --header-font: "Poppins", "Arial", sans-serif;
   --secondary-font: "Open Sans", "Arial", sans-serif;

   /* COLORS */
   --primary-color: #151515;
   --secondary-color: #6A983C;
   --adittional-color-c3: #D0A866;
   --adittional-color-c4: #E5704B;
   --adittional-color-c5: #37D0D6;
}

/* GLOBAL CLASSES */
html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   max-width: 100%;
   font-family: var(--header-font);
   font-size: 14px;
   line-height: 135%;
   color: var(--primary-color);
}

h1 {
   font-weight: 600;
   font-size: 32px;
   line-height: 140%;
}

h2 {
   font-weight: 600;
   font-size: 26px;
   line-height: 39px;
}

h3 {
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
}

h4 {
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
}

h5 {
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
}

h6 {
   font-weight: 600;
   font-size: 12px;
   line-height: 18px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
   max-width: 100%;
   height: auto;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.lock {
   overflow: hidden;
}



/* HEADER */

.top-header {
   position: relative;
   z-index: 50;
}

.top-header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.top-header__body {
   position: relative;
   display: flex;
   flex-direction: column;
}

.top-header__burger {
   display: none;
}

/* TOP NAVBAR */

.navbar-top__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 16px;
   padding-bottom: 16px;
   border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.navbar-top__contact-text,
.tel-number,
.email {
   margin-right: calc(12px + 21 * (100vw / 1200));
   font-family: var(--secondary-font);
   font-size: 12px;
   line-height: 16px;
   text-decoration: none;
   color: var(--primary-color);
   white-space: nowrap;
   transition: color .3s ease;
}

.navbar-top__contact-text {
   color: var(--secondary-color);
   cursor: default;
}

.tel-number:hover,
.email:hover {
   color: var(--adittional-color-c5);
}

.navbar-top__list {
   display: flex;
   margin: 0;
   list-style: none;
}

.navbar-top__item:not(:last-child) {
   margin-right: calc(12px + 26 * (100vw / 1200));
}

.navbar-top__link {
   color: var(--secondary-color);
   font-family: var(--secondary-font);
   font-size: 12px;
   line-height: 16px;
   white-space: nowrap;
   text-decoration: none;
   transition: color .3s ease;
}

.navbar-top__link:hover {
   color: var(--adittional-color-c4);
}

/* TOP NAVBAR CONTENT */

.top-header__content {
   padding: 40px 0;
   z-index: 3;
}

.top-header__content-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

.top-header__content-logo {
   margin-right: 10px;
   flex-shrink: 0;
   position: relative;
}

.top-header__content-logo__icon {
   position: relative;
}

.top-header__form {
   display: flex;
   align-items: center;
   margin-right: 10px;
   padding: 10px 16px;
   background: #F9F9F9;
   border: 1px solid #D1D1D1;
   box-sizing: border-box;
   border-radius: 12px;
}

.select-form {
   border: none;
   background-color: transparent;
   margin-right: 24px;
   font-weight: 700;
   font-size: 15px;
   line-height: 22px;
   width: 130px;
}

.vertical-line {
   height: 20px;
   width: 1px;
   background-color: #d1d1d1;
   margin-right: 24px;
}

.top-header__search {
   width: 262px;
   margin-right: 12px;
   font-family: var(--secondary-font);
   font-size: 14px;
   line-height: 19px;
   color: var(--primary-color);
   background-color: transparent;
   border: none;
}

.top-header__search-btn {
   width: 16px;
   height: 16px;
   background: url("/img/icons/search-icon.svg") no-repeat center center;
   border: none;
}

.top-header__widgets {
   display: flex;
   align-items: center;
}

.widget {
   width: 24px;
   height: 24px;
   border: none;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: transparent;
}

.widget:not(:last-child) {
   margin-right: 40px;
}

.search {
   display: none;
   background-image: url("/img/icons/search-icon.svg");
   background-size: contain;
}

.personal-cabinet {
   background-image: url("/img/icons/person-icon.svg");  
}

.basket {
   position: relative;
   background-image: url("/img/icons/basket-icon.svg");
}

.basket::after {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   content: "4";
   width: 16px;
   height: 16px;
   left: -6px;
   bottom: -6px;
   font-size: 12px;
   font-weight: 600;
   color: #fff;
   background-color: var(--adittional-color-c4);
   border-radius: 50%;   
}

/* TOP NAVIGATION */

.top-menu {
   background-color: #F9F9F9;
   position: relative;
}
.top-menu__list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 0;
}

.top-menu__item:not(:last-child) {
   margin-right: calc(12px + 28 * (100vw / 1200));
}

.top-menu__item {
   position: relative;
   z-index: 1;
}

.top-menu__link {
   position: relative;
   display: block;
   padding: 16px 0;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   color: var(--primary-color);
   text-decoration: none;
   transition: color .2s ease;
}

.top-menu__link:hover {
   color: var(--secondary-color);
}

.top-menu__link::after {
   position: absolute;
   width: 12px;
   height: 12px;
   top: 22px;
   right: -15px;
   background: url("/img/icons/arrow-bottom.svg") no-repeat center center;

   content: "";
}

/* DROPDOWN MENU */

.dropdown-menu {
   display: none;
   position: absolute;
   z-index: 5;
   padding: 8px 0;
   left: 50%;
   top: 100%;
   transform: translateX(-50%);
   border-radius: 5px;
   margin: 0;
   list-style: none;
   background-color: #fff;
   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.dropdown-menu__item {
}

.dropdown-menu__link {
   display: block;
   padding: 8px 16px;
   text-decoration: none;
   color: var(--primary-color);
   white-space: nowrap;
   
}

.dropdown-menu__link:hover {
   background-color: var(--adittional-color-c5);
   color: #fff;
}

.dropdown-menu__link:active {
   opacity: 0.8;
}

.top-menu__item:hover .dropdown-menu {
   display: block;
}


















/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .top-header__search {
      width: calc(150px + 80 * (100vw / 1200));
   }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .top-header__search,
   .vertical-line {
      display: none;
   }

   .top-header__content {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--adittional-color-c3);
   }

   .navbar-top {
      z-index: 4;
      order: 3;
   }

   .navbar-top__contact {
      display: flex;
      flex-direction: column;
   }

   .navbar-top__container {
      border-bottom: none;
      border-top: 1px solid rgba(21, 21, 21, 0.05);
   }
   .navbar-top__list {
      flex-direction: column;
   }

   /* TOP MENU */

   .top-menu {
      z-index: 4;
      padding-top: 70px;
      background-color: transparent;
   }

   .top-menu__list {
      flex-direction: column;
      align-items: flex-start;
   }

   /* BURGER MENU */

   .top-header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
   }

   .top-header__burger-line {
      position: absolute;
      background-color: var(--primary-color);
      width: 100%;
      height: 2px;
      right: 0;
      top: 9px;
   }

   .top-header__burger::before,
   .top-header__burger::after {
      content: "";
      position: absolute;
      background-color: var(--primary-color);
      width: 100%;
      height: 2px;
      right: 0;
   }

   .top-header__burger::before {
      top: 0;
   }

   .top-header__burger::after {
      bottom: 0;
   }
}

@media (max-width: 550px) {
   .top-header__form {
      display: none;
   }

   .search {
      display: block;
   }


}

/* Portrait phones and smaller */
@media (max-width: 480px) {

   .widget:not(:last-child) {
      margin-right: 20px;
   }
}

/* Iphone 5 */
@media (max-width: 320px) {
   .widget:not(:last-child) {
      margin-right: 10px;
   }
}